{% extends "base.html" %}
{% block content %}
=======
<h1>Driver Location</h1>

<div id="mapBlocker" style="display: block !important; -webkit-filter: blur(10px) !important; -moz-filter: blur(10px) !important; filter: blur(10px) !important; pointer-events: none;">
  <div id="googleMap" style="width:100%; height:400px;"></div>
</div>

<a class="waves-effect waves-light btn" onclick="toggleMapVisibility()"><i class="material-icons left">location_on</i>Share Location</a>

<script type="text/javascript">
var latitude_origin = parseFloat({{ latitude_origin }});
var longitude_origin = parseFloat({{ longitude_origin }});

var latitude_destination = parseFloat({{ latitude_destination }});
var longitude_destination = parseFloat({{ longitude_destination }});

function initMap() {
  // Init directions services and display
  const directionsService = new google.maps.DirectionsService();
  const directionsDisplay = new google.maps.DirectionsRenderer();

  // Setup the initial state of the map
  var mapProp = {
    center: { lat: latitude_origin, lng: longitude_origin },
    zoom: 15,
  };

  // Initialise the map in the element itself
  var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

  // Query the route between our destination and origin
  directionsService.route(
    {  
      origin: {lat: latitude_origin, lng: longitude_origin},
      destination: {lat: latitude_destination, lng: longitude_destination},
      travelMode: 'DRIVING',
      unitSystem: google.maps.UnitSystem.METRIC
    },
    (response, status) => {
      if (status == "OK")
      {
        // Show the directions on the map, if we succeed.
        directionsDisplay.setMap(map);
        directionsDisplay.setDirections(response);
      }
    }
  );
}
</script>

<script type="text/javascript">
  function toggleMapVisibility()
  {
    const mapBlocker = document.getElementById("mapBlocker");

    if (mapBlocker.style["filter"] == "") {
      mapBlocker.style["filter"] = "blur(10px)";
      mapBlocker.style["pointerEvents"] = "none";
    }
    else {
      mapBlocker.style["filter"] = "";
      mapBlocker.style["pointerEvents"] = "";
    }
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVT-ySDwoCCra27aGKktlLXA2JRHapywA&callback=initMap"></script>
{% endblock %}