<!-- Login Modal -->
<div id="login" class="modal">
    <div class="modal-content">
        <h4 class="login-modal-title">Login</h4>
        <form method="POST" action="/login">
            <div class="row">
                    <div class="input-field col  s12">
                        <input placeholder="" name="username" id="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="" name="password" id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input class="modal-close waves-effect waves-green btn-flat" type="submit" value="Login">
            </div>
        </form>
</div>
<!-- End Login Modal -->